@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

.video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1297 / 722;
  overflow: hidden;
}

video.videobg {
  display: block;
  width: 100%;
  height: auto;
}

.button-link1 {
  position: absolute;
  top: 46%;
  left: 82%;
  transform: translate(-50%, -50%);
  width: 22%;
  z-index: 1;
}

.poster1 {
  position: absolute;
  top: 26%;
  left: 82%;
  transform: translate(-50%, -50%);
  width: 22%;
  z-index: 1;
}

.button-link2 {
  position: absolute;
  top: 40%;
  left: 20%;
  /* transform: translate(-50%, -50%); */
  width: 22%;
  z-index: 1;
}

.poster2 {
  position: absolute;
  top: 26%;
  left: 73%;
  /* transform: translate(-50%, -50%); */
  width: 25%;
  z-index: 1;
}

.button-link2 img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.button-link2 img:hover {
  transform: scale(1.05);
}

.button-link1 img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.button-link1 img:hover {
  transform: scale(1.05);
}

.telephone {
  position: absolute;
  top: 73.5%;
  left: 34%;
  transform: translate(-50%, -50%);
  width: 9.5%;
  z-index: 1;
}

.telephone img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.telephone img:hover {
  transform: scale(1.1);
}

.computer {
  position: absolute;
  top: 50.1%;
  left: 54.8%;
  transform: translate(-50%, -50%);
  width: 12%;
  z-index: 1;
}

.computer img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.computer img:hover {
  transform: scale(1.1);
}

.camera {
  position: absolute;
  top: 68.7%;
  left: 44.1%;
  transform: translate(-50%, -50%);
  width: 5%;
  z-index: 1;
}

.camera img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.camera img:hover {
  transform: scale(1.1);
}
